* {
    box-sizing: border-box;
  }
  
  body { text-align: center;
    margin: 0;
    font-family: Arial Narrow, sans-serif; 
    background: #ffffff; 
    padding-top: 35px
  }
  
 .header {
    text-align: center;
    text-transform: uppercase;
    
    color: #000000;
     
    margin-right: ;
    margin-left: ;
   
    min-width: 200px ; 
  }
  
  
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 50px 0px;
  }
  
  .gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover ;
    border-radius: 3px;
  }
  
  .gallery::after {
    content: "";
    width: 350px;
  }

body::-webkit-scrollbar {
    display: none;
  }

.divider{
  width: 300px;
  height: 3px;
  background-color: seagreen;
  display: inline-block;
  }

#load-more{ 
margin-top: 20px;
display: inline-block;
padding: 10px 30px ;
margin-bottom: 45px ;
margin-top: -30px ;
border:1px solid #334;
color: #334;
font-size: 16px;
background-color: #fff;
cursor: pointer;
}

#load-more:hover{
  background-color: seagreen;
  border-color: seagreen;
  color: #fff

}



