* {
    box-sizing: border-box;
  }
  
  body { 
    margin: 0;
    font-family: Arial Narrow, sans-serif; 
    background: #ffffff; 
  }
  
 .header {
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    background-color: ;;
    color: #000000;
    border-bottom: 3px solid #fdb347; 
    margin-right: ;
    margin-left: ;
    margin-bottom: 40px;
    min-width: 250px ; 
  }
  
  
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
  }
  
  .gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover ;
    border-radius: 3px;
  }
  
  .gallery::after {
    content: "";
    width: 350px;
  }

body::-webkit-scrollbar {
    display: none;
  }

@media only screen and (max-width: 600px) {
.vc_custom_1528382333513 span {
font-size:
  
